services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    tty: true

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - ./backend:/app
      - /app/node_modules
    environment:
      - DB_HOST=db
      - DB_USER=root
      - DB_PASSWORD=
      - DB_PORT=4000
      - DB_DATABASE=senko_resonance
    depends_on:
      - db

  db:
    image: pingcap/tidb:latest
    ports:
      - "4000:4000"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
      - tidb_data:/var/lib/mysql

volumes:
  tidb_data:
